
<div class="container-fluid productfamilypage bg-white pdb-5">
    <div class="row">
        <div class="container tc">

            @foreach (var app in new string[]
            {
                 "Conversion",
                 "Viewer",
                 "Editor",
                 "Assembly",
                 "Headers",
                 "Metadata",
                 "Search",
                 "Merger",
                 "Signature",
                 "Watermark",
                 "Redaction",
                 "Annotation",
                 "Comparison"
            }.OrderBy(x => x))
            {
                <div class="col-lg-4 productfamily_box">
                    <div class="productfamilytitle">
                        <div class="imgblock">
                            <img src="../img/aspose_email-for-net-min.png" alt="Aspose.Email for .NET" />
                        </div>
                        <a href="~/email/@app.ToLower()"><span class="spanclass">Aspose.Email for .Net<em>@app</em></span><em>Aspose Email.@app web application, powered by Aspose.Email for .Net</em></a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<div class="spacer">&nbsp;</div>