@model ViewModel

<div id="rawHeadersBlock">

	<h4>Or Simply Paste Email Headers</h4>

	<div class="rawHeaders">
		<textarea id="txtHeadersAsText" placeholder="Email Headers" class="form-control" aria-describedby="basic-addon2"></textarea>
		<br />
	</div>
</div>

<div id="headers">
</div>
