<?xml version="1.0" encoding="utf-8" ?>
<!-- ExStart:ImapClientActivityLogging -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Aspose.Email.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Aspose.Email.Properties.Settings>
      <setting name="ImapDiagnosticLog" serializeAs="String">
        <value>Aspose.Email.IMAP.log</value>
      </setting>
      <setting name="ImapDiagnosticLog_UseDate" serializeAs="String">
        <value>True</value>
      </setting>
    </Aspose.Email.Properties.Settings>
  </applicationSettings>
</configuration>
<!-- ExEnd:ImapClientActivityLogging -->